include LICENSE
include VERSION.rst
recursive-include threedigrid_builder *.pyx *.pxd
recursive-include * *.rst
recursive-exclude .venv *

recursive-exclude libthreedigrid/src *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
