ipython
jupyterlab
ipdb
ipywidgets
jwt
requests[security]
matplotlib
jedi==0.17.2

rasterio
sqlalchemy
geoalchemy2
condenser[geo]
git+https://github.com/nens/threedi-modelchecker#egg=threedi-modelchecker