name: Release

on:
  push:
    tags:
      - '*'
  pull_request:  # also build on PRs touching this file
    paths:
      - ".github/workflows/release.yml"
  workflow_dispatch:

jobs:
  build_sdist:
    name: Build sdist
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Build a source tarball
        run: |
          python -m pip install --upgrade pip
          pip install build
          python -m build

      - uses: actions/upload-artifact@v4
        with:
          name: artifact-sdist
          path: ./dist/*.tar.gz
          retention-days: 5

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, windows-2022, macos-14]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - uses: msys2/setup-msys2@v2
        if: matrix.os == 'windows-2022'
        with:
          msystem: MINGW64
          update: true
          install: >-
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-gcc-fortran
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja
 
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.22.0
        # to supply options, put them in 'env', like:
        env:
          CIBW_SKIP: "pp* *musllinux* cp314*" # skips pypy, musllinux and python3.14
          CIBW_ARCHS: auto64
          CIBW_ENVIRONMENT_MACOS:
            FC=gfortran-13 MACOSX_DEPLOYMENT_TARGET=14.0
          CIBW_ENVIRONMENT_WINDOWS: >-
            CC=gcc
            CXX=g++
            FC=gfortran
            CMAKE_GENERATOR=Ninja
            CMAKE_MAKE_PROGRAM=ninja
            MSYSTEM=MINGW64
            CHERE_INVOKING=1
          CIBW_BEFORE_ALL: cat WHEEL_LICENSE_POSIX >> LICENSE
          CIBW_BEFORE_ALL_WINDOWS: type WHEEL_LICENSE_WINDOWS >> LICENSE
          CIBW_BEFORE_BUILD_WINDOWS: pip install delvewheel
          CIBW_REPAIR_WHEEL_COMMAND_WINDOWS: >-
            delvewheel repair -w {dest_dir}
            --no-mangle "libwinpthread-1.dll" {wheel}
          CIBW_BUILD_VERBOSITY: 1

      - uses: actions/upload-artifact@v4
        with:
          name: artifact-wheel-${{ matrix.os }}
          path: ./wheelhouse/*.whl
          retention-days: 5

  publish:
    name: Publish on GitHub and PyPI
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    # release on every tag
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: artifact-*
          merge-multiple: true
          path: dist

      - name: Upload Github release
        uses: softprops/action-gh-release@v2

      - name: Upload Release Assets to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_UPLOAD_TOKEN }}
