name: Linux

# Run on PR requests. And on master itself.
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  TestLinux:
    name: Python ${{ matrix.python }} ${{ matrix.display_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # 2022 - 3.9
          - python: 3.9
            os: ubuntu-22.04
            setuptools: setuptools==63.*
            numpy: numpy==1.21.*
            display_name: "2022"
            pins: "h5py==3.3.* sqlalchemy==1.4.30 shapely==2.0.* pyproj==3.2.*"
            extras: "[test,gridadmin]"
          # 2022
          - python: '3.10'
            os: ubuntu-22.04
            setuptools: setuptools==63.*
            numpy: numpy==1.23.*
            display_name: "2022"
            pins: "h5py==3.7.* sqlalchemy==1.4.40 shapely==2.0.* pyproj==3.4.*"
            extras: "[test,gridadmin]"
          - python: '3.10'
            os: ubuntu-22.04
            setuptools: setuptools==63.*
            numpy: numpy==2.0.1
            pins: ""
            display_name: "2022 - numpy 2"
            extras: "[test,gridadmin]"
          # 2023
          - python: '3.11'
            os: ubuntu-22.04
            setuptools: setuptools==63.*
            numpy: numpy==1.24.*
            pins: "h5py==3.10.* sqlalchemy==2.0.* shapely==2.0.* pyproj==3.6.*"
            display_name: "2023"
            extras: "[test,gridadmin]"
          # current (using ubuntu 22.04 because latest will change to 24.04 with gdal 3.8 at some moment)
          - python: '3.12'
            os: ubuntu-22.04
            setuptools: setuptools>=69.*
            numpy: numpy==1.26.*
            pins: ""
            display_name: "latest"
            extras: "[test,gridadmin]"
          - python: '3.12'
            os: ubuntu-22.04
            setuptools: setuptools>=69.*
            numpy: numpy==1.26.*
            pins: ""
            display_name: "latest - gdal 3.6"
            extras: "[test,gridadmin]"
            use_gdal_36: true
          - python: '3.12'
            os: ubuntu-24.04
            setuptools: setuptools>=69.*
            numpy: numpy==1.26.*
            pins: ""
            display_name: "2025 - gdal 3.10"
            extras: "[test,gridadmin]"
            use_gdal_310: true
          - python: '3.13'
            os: ubuntu-24.04
            setuptools: setuptools>=69.*
            numpy: numpy==2.3.*
            pins: ""
            display_name: "latest - gdal 3.10"
            extras: "[test,gridadmin]"
            use_gdal_310: true

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Add PPA for gdal 36
        run: |
          sudo add-apt-repository "ppa:ubuntugis/ppa" -y && sudo apt update
          apt show libgdal-dev | grep Version          
        if: matrix.use_gdal_36

      - name: Add PPA for gdal 310
        run: |
          sudo add-apt-repository "ppa:ubuntugis/ubuntugis-experimental" -y && sudo apt update
          apt show libgdal-dev | grep Version
        if: matrix.use_gdal_310

      - name: Install GDAL, sqlite3 and spatialite
        run: |
          sudo apt-get update && sudo apt-get install --yes --no-install-recommends libgdal-dev sqlite3 libsqlite3-mod-spatialite

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ matrix.python }}-${{ matrix.numpy }}-${{ hashFiles('setup.py') }}
          restore-keys: |
            ${{ runner.os }}-pip-${{ matrix.python }}-${{ matrix.numpy }}-

      - name: Install python dependencies
        shell: bash
        run: |
          pip install --disable-pip-version-check --upgrade pip wheel scikit-build
          pip install ${{ matrix.setuptools }}
          pip install ${{ matrix.numpy }}
          pip install .${{matrix.extras }} --no-build-isolation ${{ matrix.pins }} "GDAL==$(gdal-config --version)"          
          pip list

      - name: run setup.py for python 3.12 and 3.13
        if: ${{ matrix.python == '3.12' || matrix.python == '3.13' }}
        run: |
          python setup.py develop

      - name: Run unittests
        shell: bash
        run: |
          pytest

      - name: Run integration tests
        shell: bash
        run: |
          pytest integration_tests
